<h1>Autores</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome
        <br><small class="small not-bold">(Clique no nome para editar)</small>
      </th>
      <th class="vtop">Livros</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |author|}}
    <tr>
      <td>
        {{#if author.editEnable}}
        <form {{ action 'saveAuthor' author on='submit' }} class="form-inline">
          <div class="input-group">
            <!-- definindo o campo de input e botôes-->
            {{input value=author.name class="form-comtrol"}}
            <div class="input-group-btn">
              <button class="btn btn-success btn-xs" type="submit" disabled={{ author.isNotValid }}> Salvar </button>
              <button class="btn btn-danger btn-xs" {{ action 'cancelAuthorEdit' author }}> Cancelar </button>
            </div>
          </div>
        </form>
        {{else}}
          <span {{ action 'editAuthor' author }} > {{author.name}} </span>
        {{/if}} 
      </td>
      <td>
        <ul>
          {{#each author.books as |book|}}
          <li>{{book.title}}</li>
          {{/each}}
        </ul>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>